{% extends 'blog/blog.html' %}
{% load staticfiles %}
{% load blog %}

{% block title %} Home | RXTFENG BLOG {% endblock title %}

{% block style %}{{ block.super }}{% endblock style %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <main role="main">

            {% for article in article_list %}
                {% include 'blog/include/article.html' %}
            {% endfor %}

            {% if is_paginated %}
                {% pagination %}
            {% endif %}

        </main>
    </div>

    <div class="col-md-4">
        <div class="sidebar">

            <aside id="widget-search">
                {% include 'blog/include/search.html' %}
            </aside>

            <aside id="widget-recent">
                <div class="widget widget-recent">
                    <div class="widget-title"><span>Recent Posts</span></div>
                    {% get_recent_articles as articles %}
                    {% for article in articles %}
                    <div class="widget-post">
                        <div class="post-image">
                            <a href="{{ article.get_absolute_url }}"><img src="{% static 'blog/img/2017-06-10-231100.jpg' %}" alt=""></a>
                        </div>
                        <div class="post-body">
                            <h2><a href="{{ article.get_absolute_url }}">{{ article.title | truncatewords:10 }}</a></h2>
                            <div class="post-meta">
                                <span>{{ article.publish_date | date:"F j, Y" }}</span>
                                <span><i class="fa fa-comment-o"></i></span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No posts yet</p>
                    {% endfor %}
                </div>
            </aside>

            <aside id="widget-tags">
                <div class="widget widget-tags">
                    <div class="widget-title"><span>Tags</span></div>
                    <div class="tags">
                        {% get_all_tags as tags %}
                        {% for tag in tags %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                        {% empty %}
                        <p>No tags yet</p>
                        {% endfor %}
                    </div>
                </div>
            </aside>

            <aside id="widget-categories">
                <div class="widget widget-categories">
                    <div class="widget-title"><span>Categories</span></div>
                    <ul>
                        {% get_all_categories as categories %}
                        {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a><span>{{ category.num_articles }}</span></li>
                        {% empty %}
                        <li><p>No categories yet</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>

            <aside id="widget-archives">
                <div class="widget widget-archives">
                    <div class="widget-title"><span>Archives</span></div>
                    <ul>
                        {% get_all_archives as archives %}
                        {% for archive in archives %}
                        <li><a href="{% url 'blog:archive_detail' archive|date:'Y' archive|date:'m' %}">{{ archive | date:"Y F" }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
<!--
            <aside id="widget-comments">
                <div class="widget widget-comments">
                    <div class="widget-title"><span>Recent Comments</span></div>
                    <ul>
                        <li><span class="comments-author-link"><a href="" rel="external nofollow" class="url">Joseph Scott</a></span> <i class="fa fa-angle-right"></i> <a href="#">Hello World</a></li>
                        <li><span class="comments-author-link"><a href="" rel="external nofollow" class="url">Joseph Scott</a></span> on <a href="#">Hello World</a></li>
                        <li><span class="comments-author-link"><a href="" rel="external nofollow" class="url">Mr Wordpress</a></span> on <a href="#">Hello World</a></li>
                    </ul>
                </div>
            </aside>
-->
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
