{% load i18n %}

<div class="widget widget-search">
    <form action="{% url 'blog:search' %}" class="form-search" method="get" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" value="" name="q">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
        </div>
        {% csrf_token %}
    </form>
</div>
